<body>
 <p>Faça aqui a página de cadastro onde se conecta com o back end e deve enviar email para aí sim poder fazer o login!</p>
    <div class="background-container">
        <div class="spaceman">
            <video id="spaceman" autoplay loop muted >
                <source src="assets/spaceman.mp4" type="video/mp4">
              </video>
        </div>
            <h1 id="apresentation-text"> Welcome to NOME <br> connect and chat <br> effortlessly! </h1>
            <h2 id="apresentation-text-h2"> Connect, collaborate, and communicate <br> seamlessly in real-time.</h2>
    </div>

    <div class="input-container">

        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>

        <input type="text" placeholder="username"> 
        <input type="email" placeholder="email"> 
        <input type="password" placeholder="password">

        <button type="submit" >GO!</button>
      </div>


      
</body>