  <div class="chat-container">
    <h2>Live Chat</h2>
    <div class="chat-box">
      <div *ngFor="let msg of messages$ | async" class="chat-message"> {{ msg }}</div>
    </div>
    <div class="input-container">
      <p><strong>User:</strong></p>
      <input type="text" [(ngModel)]="user" placeholder="Digite seu username" />
      <p><strong>Message:</strong></p>
      <input type="text" [(ngModel)]="message" placeholder="Digite sua mensagem..." />
      <button (click)="sendMessage()">Enviar</button>
    </div>
  </div>
  